* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	padding-top: 44px;
}

.container {
	max-width: 1200px;
	margin: auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}

.input {
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 2px;	
	font-size: 16px;
	line-height: 24px;
	padding: 8px;
	padding-left: 35px;
	background-repeat: no-repeat;
	background-position: left 10px center;
}

.input-address {
	width: 690px;
	background-image: url(../img/home.svg);
	}

.input-search {
	width: 306px;
	background-image: url(../img/search.svg);
}

.buttons {
	display: flex;
	align-items: center;

}

.button {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	box-sizing: border-box;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
	border-radius: 2px;
	color: #595959;
	font-size: 16px;
	line-height: 24px;
}

.button-primary {
	background: #1890FF;
	border: 1px solid #1890FF;
	color: #fff;
	margin-right: 10px;
}

.button-icon {
	margin-right: 6px;
}

.promoaction {
	box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
	background: #FFF1B8 url(../img/promoaction-image.jpeg) no-repeat top -119px right -208px / 877px;
	border-radius: 10px;
	padding: 68px 70px;
	margin-bottom: 56px;
}

.promoaction-title {
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	line-height: 46px;
	color: #302C34;
}

.promoaction-text {
	max-width: 540px;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #302C34;
	margin-top: 15px;
}

.section-heading {
	display: flex;
    align-items: center;
	 justify-content: space-between;
	 margin-bottom: 44px;
}

.section-title {
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
	margin: 0;
}

.card {
	background: #FFFFFF;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
	border-radius: 7px;
	overflow: hidden;
	margin-bottom: 30px;
}

.cards {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card-image	{
	width: 384px;
	height: 250px;	
	object-fit: cover;
}

.card-text {
	padding-top: 20px;
	padding-bottom: 35px;
	padding-left: 23px;
	padding-right: 23px;
}

.card-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-title {
	margin: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
}

.card-tag {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	background: #262626;
	border-radius: 2px;
	padding: 1px 8px;
}

.card-info {
	display: flex;
	align-items: center;
}

.rating {
	margin-right: 26px;
	color: #FFC107;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;
}

.rating-star {
	padding-right: 8px;
}

.price, .category {
	color: #8C8C8C;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	padding-right: 10px;
}

.price:after {
	content: "";
	width: 5px;
	height: 5px;
	background-color: #8C8C8C;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	margin-left: 10px;
}